.footer-nav {
    align-self: baseline;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, max-content));
    height: 122px;
    margin: 120px 0 54px 0;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, max-content));
    }
}
.footer-text {
    grid-column: 1;
}
.footer-text__title {
    @include font400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $colorWhiteText;
    margin: 0;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        font-size: 26px;
        line-height: 32px;
    }
}
.footer-text__subtitle {
    margin: 14px 0 0 0;
    @include font700;
    font-size: 58px;
    line-height: 71px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $colorWhiteText;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        font-size: 48px;
        line-height: 59px;
    }
}
.footer-contacts {
    display: flex;
    grid-column: 3;
    grid-row: 1;
    align-self: end;
    margin: 0 0 10px 0;
    justify-self: right;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        align-self: center;
        margin: 41px 0 0 0;
    }
}
.footer-contacts__text {
    margin: 0 10px 0 0;
    @include font700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: $colorBlackText;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        font-size: 14px;
        line-height: 26px;
    }
}
.footer-contacts__phone {
    text-decoration: none;
    @include font700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: $colorWhiteText;
    transition: ease 0.7s;
    &:hover {
        color: $colorBlackText;
    }
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        font-size: 14px;
        line-height: 26px;
    }
}