.button-open {
    
}
.button-open-modal {
    @include button-open-without-border;
}
.button-open_header {
    margin: 0 16px 0 0;
    @include buttonOpen;
}
.button-open_header-info {
    @include button-open-without-border;
    grid-row: 2;
    grid-column: 1;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        width: 62px;
        height: 24px;
        font-size: 8px;
        line-height: 10px;
    }
}
.button-open_section-made {
    @include buttonOpen;
    margin: 48px 0 0 0;
}
.button-open_footer-locations {
    @include buttonOpen;
}
.button-open_footer-franchise {
    @include button-open-without-border;
}
