.reviews {
    position: relative;
    overflow: hidden;
    width: 968px;
    height: 361px;
    margin: 203px 0 0 0;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        width: 705px;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        min-width: 280px;
        max-width: 680px;
        width: 100%;
        margin: 110px 0 0 0;
    }
}