.address {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 32px;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        gap: 16px;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        gap: 20px;
    }
}
.address-item {
    max-width: 368px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px;
    box-sizing: border-box;
    display: grid;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        max-width: 224px;
        padding: 40px 24px;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        width: 280px;
        padding: 40px 32px;
    }
}
.address-item__title {
    @include font500;
    color: $colorBlackText;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    border-radius: 6px;
    background-color: $colorYellow;
    text-transform: uppercase;
    display: inline;
    padding: 10px;
    width: 138px;
    box-sizing: border-box;
    @media screen and (max-width: 767px) and (min-width: 320px) {
        font-size: 12px;
        line-height: 22px;
    }
}
.address-item__city {
    @include font500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: $colorBlackText;
    margin: 32px 0 0 0;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        font-size: 14px;
        line-height: 26px;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        font-size: 12px;
        line-height: 22px;
    }
    
}
.address-item__address {
    @include font500;
    font-size: 16px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: $colorOrangeText;
    display: block;
    text-decoration: none;
    position: relative;
    min-height: 50px;
    margin: 8px 0 32px 0;
    &:hover {
        text-decoration: underline;
    }
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        font-size: 14px;
        line-height: 26px;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        font-size: 12px;
        line-height: 22px;
        margin: 8px 0 24px 0;
    }

}
.address-item__days {
    @include font500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: $colorBlackText;
    margin: 0;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        font-size: 14px;
        line-height: 26px;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        font-size: 12px;
        line-height: 22px;
    }
    
}
.address-item__days_working-days {
    padding: 64px 0 0 0;
    border-top: 1px solid $colorBorderGrey;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        padding: 32px 0 0 0;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        padding: 24px 0 0 0;
    }
}
.address-item__days_days-off {
    margin: 12px 0 0 0;
    
}
.address-item__time {
    @include font500;
    font-size: 16px;
    line-height: 30px;
    color: $colorGreyText;
    margin: 0;
    @media screen and (max-width: 1024px) and (min-width: 768px)  {
        font-size: 14px;
        line-height: 26px;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        font-size: 12px;
        line-height: 22px;
    }
}
.address-item__time_days-off {
    position: relative;
    padding: 0 0 32px 0;
    border-bottom: 1px solid $colorBorderGrey;
    @media screen and (max-width: 767px) and (min-width: 320px) {
        padding: 0 0 24px 0;
    }
}
.address-item__phone {
    @include font500;
    margin: 32px 0 0 0;
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: $colorBlackText;
    text-decoration: none;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        font-size: 14px;
        line-height: 26px;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        font-size: 12px;
        line-height: 18px;
        margin: 24px 0 0 0;
    }
}
.address-item__email {
    @include font500;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    color: $colorBlackText;
    display: block;
    text-decoration: none;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        font-size: 14px;
        line-height: 26px;
    }
}