$widthPage: 1200px;
$logoWidth: 60px;
$bcgGreen: #84A278;
$colorGrey: #D9D9D9;
$colorWhiteText: #FCFCFC;
$colorBlackText: #131313;
$colorYellow: #F8D24E;
$colorYellowHover: #F8D24E;
$colorYellowFocus: #F8D24E;
$colorGreen: #0A8817;
$colorGreenHover: #0A8817;
$colorGreenFocus: #0A8817;
$marginImage: 183px;
$colorOrangeText: #D6936D;
$colorBorderGrey: #E1E1E1;
$colorGreyText: #ABABAB;
