.social-icons {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    padding: 0;
    grid-column: 3;
    margin: 10px 0 0 0;
    grid-row: 1;
    justify-self: right;
    align-self: start;
    @media screen and (max-width: 767px) and (min-width: 320px) {
        align-self: end;
    }
}
.social-icon {
    width: 34px;
    height: 34px;
    background-color: $colorYellow;
    border-radius: 50%;
    box-sizing: border-box;
}
.social-icon__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    svg {
        width: 20px;
        height: 20px;
        fill: $bcgGreen;
        transition: ease 0.7s;
    }
    &:hover svg {
        fill: #FFFFFF;
    }
    &:focus svg {
        fill: #FFFFFF;
    }
}