.section-products {
    background-image: url(../../../images/Sections/SectionProducts/bcgimage.png);
    height: 1050px;
    max-height: 100%;
}
.products {
    display: flex;
    gap: 33px;
    justify-content: center;
    margin: ($marginImage + 80px) 0 0 0;
}