.header-about {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, max-content));
    grid-gap: 0 27px;
    right: 0;
    bottom: 0;
    margin: 0 16px 0 0;
}
.header-about__image {
    width: 456px;
    height: 561px;
}
.counter {
    display: flex;
    flex-direction: column;
    max-width: 80px
}
.counters {
    margin: 20px 0 0 0;
}
.counter__counter {
    @include font900;
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 0.04em;
    color: $colorBlackText;
}
.counter__text {
    @include font400;
    font-size: 14px;
    line-height: 17px;
    color: $colorWhiteText;
}