.product {
    position: relative;
    border-radius: 24px;
    width: 370px;
    display: grid;
    align-items: center;
    box-sizing: border-box;
    justify-items: center;
    padding: 0 62px;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        width: 224px;
        padding: 26px;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        width: 280px;
        padding: 20px 40px;
    }
}
.product__image {
    position: absolute;
    top: -($marginImage);
    border-radius: 150px;
    @media screen and (max-width: 1024px) and (min-width: 320px) {
        top: -100px;
    }
    img {
        width: 302px;
        height: 320px;
        @media screen and (max-width: 1024px) and (min-width: 768px) {
            width: 199px;
            height: 197px;
        }
        @media screen and (max-width: 767px) and (min-width: 320px) {
            width: 200px;
            height: 200px;
        }
    }

}
.product__image_ice-cream {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25)
}
.product__image_ice-coffee {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}
.product__image_milkshakes {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}
.product__title {
    margin: ($marginImage - 17px) 0 0 0;
    @include font700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $colorBlackText;
    @media screen and (max-width: 1024px) and (min-width: 320px) {
        margin: 120px 0 0 0;
        font-size: 22px;
        line-height: 27px;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
        margin: 120px 0 0 0;
        font-size: 20px;
        line-height: 24px;
    }
}
.product__text {
    @include font400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: $colorBlackText;
    max-width: 242px;
    text-align: center;
    margin: 40px 0 0 0;
    @media screen and (max-width: 1024px) and (min-width: 320px) {
        font-size: 14px;
        line-height: 25px;
    }
}
.product__open {
    background: transparent;
    border: none;
    outline: none;
    width: 40px;
    height: 16px;
    cursor: pointer;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 60px 0;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        margin: 40px 0;
    }
    svg {
        width: 40px;
        height: 16px;
        fill: $colorBlackText;
        transition: fill 0.7s;
        &:hover {
            fill: $colorYellow;
        }
    }
}





