@font-face {
    font-family: 'Montserrat';
    src: url('Monserrat/Montserrat-Bold.eot');
    src: url('Monserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Monserrat/Montserrat-Bold.woff2') format('woff2'),
        url('Monserrat/Montserrat-Bold.woff') format('woff'),
        url('Monserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Monserrat/Montserrat-Light.eot');
    src: url('Monserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('Monserrat/Montserrat-Light.woff2') format('woff2'),
        url('Monserrat/Montserrat-Light.woff') format('woff'),
        url('Monserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Monserrat/Montserrat-Medium.eot');
    src: url('Monserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('Monserrat/Montserrat-Medium.woff2') format('woff2'),
        url('Monserrat/Montserrat-Medium.woff') format('woff'),
        url('Monserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Monserrat/Montserrat-Regular.eot');
    src: url('Monserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Monserrat/Montserrat-Regular.woff2') format('woff2'),
        url('Monserrat/Montserrat-Regular.woff') format('woff'),
        url('Monserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Monserrat/Montserrat-SemiBold.eot');
    src: url('Monserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Monserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('Monserrat/Montserrat-SemiBold.woff') format('woff'),
        url('Monserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Seymour One';
    src: url('Seymour-One/SeymourOne.eot');
    src: url('Seymour-One/SeymourOne.eot?#iefix') format('embedded-opentype'),
        url('Seymour-One/SeymourOne.woff2') format('woff2'),
        url('Seymour-One/SeymourOne.woff') format('woff'),
        url('Seymour-One/SeymourOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

