.title-section {
    @include font700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 60px 0 0 0;
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        font-size: 22px;
        line-height: 27px;
    }
}
.title-section_section-products {
    color: $colorBlackText;
    margin: 0;
}
.title-section_section-made {
    color: $colorWhiteText;
    margin: 0;
}