.title-section {
    @include font700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 60px 0 0 0;
}
.title-section_section-products {
    color: $colorBlackText;
    margin: 0;
}
.title-section_section-made {
    color: $colorWhiteText;
    margin: 0;
}